*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    margin: 10px 0;
    color: rgb(90, 89, 89);
}
body{
    width: 100%;
    min-height: 100vh;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-list{
    margin: 20px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project{
    border: 4px solid rgb(250, 141, 141);
    height: 30vh;
    width: 20%;
    border-radius: 10px;
    margin: 20px 40px;
    position: relative;
}
.project{
    background-color: #fff;
    overflow: hidden;
}
.project:hover::before{
    background-color:rgb(250, 141, 141);
    color: #fff;
    padding: 10px;
    z-index: 9;
    position: absolute;
    border-bottom-right-radius: 5px;
}
#browser-app:hover::before{
    content: "Browser app";
}
#promotion-app:hover::before{
    content: "Promotion app";
}
#card-app:hover::before{
    content: "My card app";
}
#delta-app:hover::before{
    content: "History app";
}
#space-app:hover::before{
    content: "Space app";
}
.project img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.project img:hover{
    animation: move 1s ease-in-out forwards reverse;
}
@keyframes move {
    100%{
        transform: translateY(40px);
    }
}
@media (max-width:768px) {
    .project-list {
        margin: 20px 10px;
    }
    .project {
        width: 40%;
        height: 40vh;
        margin: 20px;
    }    
}
@media (max-width:425px) {
    .project-list {
        margin: 20px 10px;
    }
    .project {
        width: 100%;
        height: 35vh;
    }    
}