<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./promotion.css">
    <title>EOE | promotion</title>
</head>
<body>
<div class="promo">
    <div class="landing">
        <h1>Today is Egalase's Promotion! 🎊</h1>
        <img src="../../img/me.png" alt="myself">
        <h2>Frontend Developer</h2>
        <h3>23.09.2022</h3>
    </div>
    <div class="views">
        <h1>Here's how happy I am for you today 🥰</h1>
        <h3>(Hover over the gift)</h3>
        <div class="gift-wrapper">
            <img class="gift-img"  src="../../img/giftWrapper.jpg" alt="gift image">
            <img class="main-img"  src="../../img/happy.gif" alt="gift image">
        </div>
    </div>
    <div class="views">
        <h1>How people react as you walk in? 👇</h1>
        <div class="gift-wrapper">
            <img class="gift-img"  src="../../img/giftWrapper.jpg" alt="gift image">
            <img class="main-img"  src="../../img/welcome.gif" alt="gift image">
        </div>
    </div>
    <div class="views">
        <h1>If I had to describe you with one word 👇</h1>
        <div class="gift-wrapper">
            <img class="gift-img"  src="../../img/giftWrapper.jpg" alt="gift image">
            <img class="main-img"  src="../../img/best.gif" alt="gift image">
        </div>
    </div>
    <div class="views">
        <h1>Your mentor 👨‍⚕️</h1>
        <div class="gift-wrapper">
            <img class="gift-img"  src="../../img/giftWrapper.jpg" alt="gift image">
            <img class="main-img"  src="../../img/mark.gif" alt="gift image">
        </div>
    </div>
    <div class="views">
        <h1>This one is for you my friend 🥂</h1>
        <div class="gift-wrapper">
            <img class="gift-img"  src="../../img/giftWrapper.jpg" alt="gift image">
            <img class="main-img"  src="../../img/celebrate.gif" alt="gift image">
        </div>
    </div>
    <footer>
        <p>Want to create your own congratulation GIF site? 
            <span> Take this HTML & CSS course</span>
        </p>
    </footer>
</div>
    
</body>
</html>