@font-face {
    font-family: "kanit";
    src: url("../../font/Kanit.ttf");
}

*{
    font-family: "kanit";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.netflix{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
h1{
    font-size: 100px;
    color: whitesmoke;
    text-shadow: 6px 6px 0px  #000;
}